@media (min-width:992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.pull-left{
    float:right !important;
}
.pull-right{
    float:left !important;
}
.list-unstyled {
    padding-right: 0;
}
.text-right{
    text-align: left;
}
.text-left{
    text-align: right;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: left;
    left: 0;
    margin-left: 0;
}
.dropdown-menu.pull-right,.dropdown-menu-right{
    left: 0;
    right: auto
}
.dropdown-menu{
    text-align: right;
    right: 0;
    left: auto;
}
#top-links .dropdown-menu {
    right: auto;
    left: 0;
}
.checkbox-inline, .radio-inline {
    padding-right: 20px;
    padding-left: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.fa.pull-left {
    margin-left: .3em;
}
.a-one .alert-dismissable .close,.a-one .alert-dismissible .close{
    left: 8px;
    right: auto;
}
.s-panel .img-responsive {
    transform: rotatey(180deg);
}
.slidecap {
    left: auto;
    text-align: right;
    right: 15%;
}
.sbnr .ser-dsc {
    margin-top: 45px;
    padding-right: 16%;
    position: relative;
    padding-left: 15px;
}
.sbnr .ser-dsc::before {
    left: auto;
    right: 37px;
}
.bnr-btn i {
    margin-right: 10px;
    margin-left: 0;
    transform: rotate(180deg);
}
.be1 .ser-dsc {
    padding-left: 16%;
    text-align: left;
    padding-right: 15px;
}
.be1 .ser-dsc::before {
    left: 30px;
    right: auto;
}
.slidecap span::after {
    right: 0;
    left: auto;
}
.homeslider-container .slick-dots {
    right: 0;
    left: auto;
}
.homeslider-container .slick-arrow.slick-next {
    right: auto;
    left: 9%;
}
.homeslider-container .slick-arrow.slick-prev {
    left: 15%;
    right: auto;
}
.homeslider-container .slick-arrow:hover::before{
    color: #000;
}
.banner-blk .bn-beffect .bnr-dsc .title a {
    right: 0;
    left: auto;
}
#cart .dropdown-menu table,#cart .dropdown-menu td,#cart .dropdown-menu tr {
    text-align: right;
}
#cart .dropdown-toggle span {
    margin-right: 2px;
    margin-left: 0;
}
#formNewLestter .inner .popup-top .form-group {
    float: right;
    padding: 0 20px 0 0;
}
.view_cat_menu .more-menu {
    text-align: right;
}
#cart .dropdown-toggle span.count {
    right: 7px;
    left: auto;
}
.middle-footer h5::before {
    left: auto;
    right: 0;
}
.product-thumb .button-group button.compare {
    left: 5px;
    right: auto;
}
.insetting {
    float: left;
}
#top-links .list-inline li.dropdown.inuser, #top-links .list-inline li#search, #top-links .list-inline li.mycart, #top-links .list-inline li.wish-li {
    float: left;
}
/* topbar */
.product-thumb,.blog-right,.product-tab,#menu .dropdown-inner ul,.accolumn.list-group a,#xsfilter .list-group a,.categorybr .ctpos,.slidecap{
    direction: rtl;
}
.close{
    float: left;
}
#scroll{
    left: 20px;
    right: auto
}
.slick-list.draggable {
    direction: ltr;
}
#top-links {
    float: left;
    width: auto;
}
.haccount li a i{
    margin-left: 8px;
    margin-right: auto
}
#madebyhand-search-category{
    float: right;
    background-position: left bottom 7px;
}
.wbSearch .close-nav i{
    margin-right: 15px;
    margin-left: auto
}
.more-menu{
    left: 0;
    right: auto;
    text-align: right
}
.f-left svg{
    margin-left: 10px;
    margin-right: auto
}
.cartprice{
    right: 70px;
    left: auto
}
.product-list .product-thumb .button-group{
    text-align: right
}

.slidever::before{
    left: 0;
    right: auto;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.slidever,.homeslider-container .slick-vertical .slick-slide::after{
    left: 0;
    right: auto;
}
.homeslider-container .slick-vertical .slick-slide.slick-current {
    padding-left: 50px;
    padding-right: 0;
}
.slider-img::before,#menu .navbar-nav li a::after{
    right: 0;
    left: auto
}
.blog_webi .blog-right .read_more svg{
    transform: rotate(180deg)
}
 .countdown-row .countdown-section .countdown-amount:before{
        left: -10px;
        right: auto;
}
.blog_webi .redmore svg ,#formNewLestter svg,.formNewLestter .description-top{
    float: right;
}
#newsletter .btn-primary {
    border-radius: 4px 0 0 4px;
    left: 0;
    right: auto;
}
/* category page */
.pagination > li > a, .pagination > li > span{
    float: right;
}
.select-input::after{
    left: 10px;
    right: auto
}
.refines li{
    margin-left: 10px;
    margin-right: auto;
}
.sale {
    left: auto;
    right: 10px;
}
.product-list .product-thumb .rating {
   text-align: right;
}
.product-list .product-thumb .button-group button, .product-list .product-thumb .button-group .bquickv a {
    float: right;
}
.foot-payment li {
    margin-left: 10px;
    margin-right: 0;
}
.about-desc span::before {
    right: 0;
    left: auto;
}
.nav.navbar-nav,.formNewLestter .description-top {
    text-align: right;
}
.head-nav .fsocial {
    float: right;
    text-align: right;
}
.head-nav .email {
    float: left;
}
.homecategory .categorybr::after {
    right: 0;
    left: auto;
}
.homecategory .categorybr:hover::after {
    right: 15px;
    left: auto;
}
#top-links .list-inline li.dropdown.inuser, #top-links .list-inline li#search, #top-links .list-inline li.mycart {
    float: left;
}
.ser-title h1 {
    text-align: right;
}
.ser-title p::before {
    left: auto;
    right: 0;
}
.sbnr .beffect {
    padding: 0 0 0 45px;
}
.sbnr .beffect::before {
    left: 0;
    right: 45px;
}
.se1 .beffect {
    padding: 0 45px 0 0;
}
.se1 .beffect::before {
    left: 45px;
    right: 0px;
}
/* product */
.pro-content .checkbox label,#menu .dropdown-inner a,.refines li{
    direction: ltr;
}
.checkbox label, .radio label{
    padding-right: 20px;
    padding-left: 0;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"] {
    float: right;
    right: 0;
    margin-right: 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"]{
    margin-right: -20px;
    margin-left: auto;
}
.zoomWindow {
    right: 547px;
    left: auto !important;
}
.a2a_default_style a,.a2a_default_style .a2a_counter img, .a2a_default_style .a2a_dd, .a2a_default_style .a2a_svg{
    float: right !important;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
    left: -6px;
    right: auto;
    text-align: left !important;
}
.select-input::after{
    left: 10px;
    right: auto;
}
#accordion .panel-title i{
    float: left;
}
.search-page .select-input::after {
    left: 15px;
    right: auto;
}
.accolumn h3 svg{
    margin-left: 10px;
    margin-right: auto
}
#account-account.acpage #content[class*="col-"] span:first-child{
    border-left: 1px solid #eee;
    border-right: none;
    padding-left: 25px;
    padding-right: 0;
    margin-left: 25px;
    margin-right: auto
}
#testi {
    float: right;
}
#special .product-thumb .image {
    border-left: 1px solid #e4e4e4;
    border-right: 0;
}
.deliveryinfo ul {
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 0;
}
.date-time {
    left: 40px; 
    right: auto;
}
/* other pages */
#menu .dropdown-menu{
    direction: ltr;
}
.contsp{
    margin-right: 35px;
    margin-left: auto
}
.wco{
    margin-right: 38px;
    margin-left: auto
}
.list-group a,#xsfilter{
    direction: ltr;
    text-align: right;
}
#xsfilter .checkbox label{
    padding-left: 0;
    padding-right: 0
}
#xsfilter .list-group-item{
    text-align: right;
}
.mfp-close{
    left: 0;
    right: auto !important
}
.product-tab .nav-tabs li::after{
    right: 0;
    left: auto
}
.list-inline,ul{
    padding: 0
}
.textbp .img-responsive {
    float: left;
}
.vedio-desc {
    left: -160px;
    right: auto;
}
.offer-text .btn-primary {
    float: left;
}
.offer-text span ,.offer-text svg{
    float: right;
}
.newsl .inner .form-group input {
    text-align: right;
}
.newsl .inner .form-group button {
    right: auto;
    left: 1px;
}
#blog .slick-slide div .blog-right {
    text-align: right;
}
#blog .slick-slide > div:last-child .blog-left {
    float: left;
}
#blog .slick-slide > div:last-child .blog-right {
    text-align: left;
}
#special .product-thumb .caption {
    padding-left: 0;
    padding-right: 15px;
}

@media (max-width: 1410px){
    .homeslider-container .slick-arrow.slick-next {
        left: 8%;
    }
}
@media (min-width:1200px) and (max-width:1409px){
    .slidecap {
    right: 5%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    #account-account.acpage #content[class*="col-"] span:first-child {
        padding-left: 10px;
        padding-right: 0;
        margin-left: 10px;
        margin-right: auto
    }
    #special .product-thumb .button-group {
        text-align: right;
    }
    .ser-dsc a {
        right: 0;
        left: auto;
    }   
    .sbnr .ser-dsc {
        padding-right: 5%;
    }
    .be1 .ser-dsc {
        padding-left: 5%;
    }
    .slidecap {
        right: 5%;
    }
}
@media (max-width: 991px){
    .slidecap {
        right: 5%;
    }
    #special .product-thumb .caption,#special .product-thumb .button-group {
        text-align: right;
    }
    .bnr-top,.ser-dsc a {
        right: 0;
        left: auto;
    }
    .sidenav{
        right: 0;
        left: auto;
        text-align: right;
    }
    .menusp{
        text-align: right;
    }
    .navbar-header{
        float: right;
    }
    #mySidenav li a i{
        float: left;
    }
    .nav.navbar-nav {
        text-align: right;
    }
    .vedio-desc {
        left: -100px;
        right: auto;
    }
    .contact {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .sbnr .beffect {
        padding: 0 15px;
    }
    .se1 .beffect {
        padding: 0 15px;
    }
    .be1 .ser-dsc,.sbnr .ser-dsc {
        padding-left: 15px;
        padding-right: 15px;
    }
    .foot-payment li {
    margin-left: 1px;
    }
}
@media (min-width: 768px){
    .product-list .image, .product-list .caption{
        float: right;
    }
    .product-list .caption{
        text-align: right;
    }
}
@media (max-width: 767px){
    footer h5 .toggle.collapsed::after,footer h5 .toggle::after,.catfilter .toggle.collapsed::after,.catfilter .toggle::after{
        float: left;
    }
    .product-list .product-thumb .button-group {
        text-align: right;
    }
    #top-links {
        float: left;
    }
    #account-account.acpage #content[class*="col-"] span:first-child {
        padding-left: 5px;
        padding-right: 0;
        margin-left: 5px;
        margin-right: auto
    }
    #blog .slick-slide .blog-left, #blog .slick-slide div .blog-right {
        float: right;
    }
    .banner-blk .bnr-dsc {
        right: 20px;
        left: auto;
    }
    .deliveryinfo ul li,.deliveryinfo ul{
        text-align: center;
    }
    .fsocial {
    text-align: center;
    }
    .contact {
    padding-right: 0;
    padding-left: 0;
    }
    .product-list .product-thumb .caption {
    text-align: right;
    }
    .del1, .del2, .del3, .del4 {
    float: none;
    }
    .sbnr .beffect, .se1 .beffect {
    padding: 0 15px;
    }
}
@media (min-width: 576px) and (max-width: 600px){
    .deliveryinfo ul {
    border-left: 0;
    border-right: 0;
    }
}

@media (min-width: 320px) and (max-width: 479px){
    #top-links .dropdown.inuser .dropdown-menu {
        right: -110px;
        left: auto;
    }
    #top-links .dropdown-menu-right.langcdrop {
        right: -50px;
        left: auto;
    }
     .deliveryinfo ul {
        border-left: 0;
        border-right: 0;
    }
    #cart .dropdown-menu, .haccount {
        left: -34px;
        right: auto;
    }
}